body, html, #root, .mainbody {
  height: 100%;
  width: 100%;
  padding: 0 !important;
}

/* TitleBar */
.titleRootDiv {
  flex-grow: 1;
}
.titlebarText {
  flex-grow: 1;
}
.bar {
  background-image: radial-gradient(
    at 50% 80%,
    rgb(40, 45, 59) 15%,
    rgb(0, 0, 0)
  );
}
.titlebarLogin a {
  color: white;
  text-decoration: none;
}
/* Purely for the Login/Logout Button. Special due to its built-in Button from Material UI */
.titlebarButton .MuiButton-label {
  border-top: solid rgb(170, 163, 163) ;
  border-bottom: solid white;
}

/* Banner */
.bannerRootDiv {
  padding: 10%;
  padding-bottom: 11%;
}
.bannerTitle {
  text-align: center;
  color: white;
  font-weight: Bold;
  font-family: Helvetica;
}
.bannerText {
  text-align: center;
  font-weight: light;
  font-family: monospace;
  color: white;
}

/* About */
.aboutRootDiv {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: purple;
  max-width: 100% !important;
  padding: 2%;
}
.aboutCard {
  max-width: 300px;
  margin-top: 5% ;
  margin-bottom: 5%;
}
.aboutMedia {
  height: 150px;
}
.aboutTitle {
  text-align: center;
}
.icon {
  display: flex;
  justify-content: center;
  padding: 5%;
}
.iconIcon {
  font-size: 100px !important;
  background-color: blue;
  border-radius: 50%;
  padding: 4%;
}

/* How To */
.howtoRootDiv {
  display: flex;
  flex-direction: column;
  background-color: rgb(130, 138, 129);
  max-width: 100% !important;
  padding: 2%;
}
.howtoTitle {
  text-align: center;
  text-decoration: underline;
  border: 10%;
}
.howtoVideo {
  display: flex;
  justify-content: center;
  padding: 3%;
}


/* Content */
.contentBar{
  background-image: radial-gradient(
    at 50% 80%,
    rgb(255, 255, 255) 15%,
    rgb(255, 255, 255)
  );
  padding-top: 3%;
  padding-bottom: 5%;
}
.contentDetails{
  display: flex;
  color: black;
  padding-top: 5px;
}
.contentAvatar {
  background-color: rgb(43, 175, 164) !important;
  margin-top: 5px;
  margin-right: 5px;
}
.contentNewEvent {
  position: absolute !important;
  right: 5%;
  background-color: grey !important;
}