body, html, #root, .mainbody {
  height: 100%;
  width: 100%;
  padding: 0 !important;
}

/* TitleBar */
.titleRootDiv {
  flex-grow: 1;
}
.titlebarText {
  flex-grow: 1;
}
.bar {
  background-image: radial-gradient(
    at 50% 80%,
    rgb(40, 45, 59) 15%,
    rgb(0, 0, 0)
  );
}
.titlebarLogin a {
  color: white;
  text-decoration: none;
}
/* Purely for the Login/Logout Button. Special due to its built-in Button from Material UI */
.titlebarButton .MuiButton-label {
  border-top: solid rgb(170, 163, 163) ;
  border-bottom: solid white;
}

/* Banner */
.bannerRootDiv {
  padding: 10%;
  padding-bottom: 11%;
}
.bannerTitle {
  text-align: center;
  color: white;
  font-weight: Bold;
  font-family: Helvetica;
}
.bannerText {
  text-align: center;
  font-weight: light;
  font-family: monospace;
  color: white;
}

/* About */
.aboutRootDiv {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: purple;
  max-width: 100% !important;
  padding: 2%;
}
.aboutCard {
  max-width: 300px;
  margin-top: 5% ;
  margin-bottom: 5%;
}
.aboutMedia {
  height: 150px;
}
.aboutTitle {
  text-align: center;
}
.icon {
  display: flex;
  justify-content: center;
  padding: 5%;
}
.iconIcon {
  font-size: 100px !important;
  background-color: blue;
  border-radius: 50%;
  padding: 4%;
}

/* How To */
.howtoRootDiv {
  display: flex;
  flex-direction: column;
  background-color: rgb(130, 138, 129);
  max-width: 100% !important;
  padding: 2%;
}
.howtoTitle {
  text-align: center;
  text-decoration: underline;
  border: 10%;
}
.howtoVideo {
  display: flex;
  justify-content: center;
  padding: 3%;
}


/* Profile */
.profileBar{
  background-image: radial-gradient(
    at 50% 80%,
    rgb(255, 255, 255) 15%,
    rgb(255, 255, 255)
  );
  padding-top: 3%;
  padding-bottom: 5%;
}
.profileDetails{
  display: flex;
  color: black;
  padding-top: 5px;
}
.profileAvatar {
  background-color: rgb(43, 175, 164) !important;
}
.profileText {
  margin-left: 12px;
}
.profileNewEvent {
  position: absolute !important;
  right: 5%;
  background-color: grey !important;
}
/*for the event's number on top */
 .MuiSvgIcon-root {
  left: 0%;
}
.profileBadge .MuiBadge-badge {
  right: 0.5em;
  top: 1em;
}
.profileHiddenButton {
  padding: 0 !important;
}
.TimePicker {
  padding-top: 5%;
  justify-content: space-around ;
  padding-bottom: 3%;
}
.indiTimePicker {
  padding: 2% !important;
}

.makeStyles-root-145{
  height: 100%;
}

/* HomeNavBar */
.homenavbarBadge .MuiBadge-badge {
  right: -1em;
  top: 0.3em;
}


/* Contents */
/* This is the content over part, that draws the line at the side below the
blueblue tabs */
.MuiTypography-body1{
  padding: 0 !important;
  height: 100%;
}
/* This 2 is to make sure that the height passes down all the way 100% */
.contentcss {
  height: 100%;
}
.eventRootDiv {
  height: 100%;
}

/* No events */
.noEventorLoading {
  text-align: center;
}

/* All the card css-es are here */
.eventCardContent {
  height: 100%;
  width: 100%;
}
.eventTitle {
  padding: 1%;
  text-decoration: underline;
  text-align: center;
}
.eventListed {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  padding-top: 1%;
  padding-bottom: 4%;
}
.eventCards {
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 300px;
}
.eventContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.deleteButton {
  padding: 0 !important;
  min-width: 30px !important;
}
.eventContentButtons {
  display: flex;
  flex-direction: row;
}
.eventContentTitle {
  text-decoration: underline;
}
.eventContentText{
  padding: 5px;
}